[project]
name = ""
version = ""
description = ""
authors = [
    {name = "[[ name ]]", email = "[[ email ]]"},
]
dependencies = [
    "orkestra[cdk,powertools]",
    "pytest",
]
requires-python = ">=3.8"
dynamic = ["classifiers"]
license = {text = "MIT"}

[project.urls]
homepage = ""

[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"


[tool.pdm.scripts]
_.env_file = ".env"

[tool.pdm.scripts.test.env]
POWERTOOLS_TRACE_DISABLED = "1"
POWERTOOLS_LOG_DEDUPLICATION_DISABLED = "1"

test.cmd = [
    "pytest",
    "--ignore",
    "cdk.out",
]

deploy = "cdk deploy"
