#!/usr/bin/env python3
from typing import Type

from aws_cdk import core as cdk
from [[project_name]]_stack import HelloOrkestra


class App:
    def __init__(self):

        self.app = cdk.App()

        self.hello_orkestra = HelloOrkestra(self.app, "helloOrkestra")

        self.added = {}

    def add(self, stack: Type[cdk.Stack], id: str, **kwargs):

        stack_instance = stack(self.app, id, **kwargs)

        self.added[id] = stack_instance

        return stack_instance

    def synth(self):

        return self.app.synth()


if __name__ == "__main__":

    app = App()

    app.synth()
